
@{
    ViewBag.Title = "Tambah";
}
<h2>Tambah</h2>
<form action="/Kategori/Tambah" method="post">
    <input name="KodeKategori" />
    <input name="NamaKategori" />
    
    <button type="submit">
        Simpan
    </button>
</form>

