
<h2>Tambah</h2>

<form action="/Barang/Tambah" method="post">
    <input name="KodeBarang" />
    <input name="NamaBarang" />
    <input name="Harga" />
    <input name="Stok" />

    <button type="submit">
        Simpan
    </button>
</form>
